<ion-menu side="end" menuId="menuSecundario" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>MENU</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle auto-hide="true">
        <ion-item [routerLink]="['lista']">
          <ion-icon slot="start" name="golf"></ion-icon>Atracciones Turísticas
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle auto-hide="true">
        <ion-item>
          <ion-icon slot="start" name="bed"></ion-icon>Hospedaje
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle auto-hide="true">
        <ion-item>
          <ion-icon slot="start" name="restaurant"></ion-icon>Restaurantes
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle auto-hide="true">
        <ion-item>
          <ion-icon slot="start" name="bicycle"></ion-icon>Recreación
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle auto-hide="true">
        <ion-item>
          <ion-icon slot="start" name="airplane"></ion-icon>Agencia de Viajes
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle auto-hide="true">
        <ion-item>
          <ion-icon slot="start" name="accessibility"></ion-icon>Servicios Complementarios
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle auto-hide="true">
        <ion-item>
          <ion-icon slot="start" name="navigate"></ion-icon>Ruta
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle auto-hide="true">
        <ion-item>
          <ion-icon slot="start" name="map"></ion-icon>Tour Virtual
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle auto-hide="true">
        <ion-item>
          <ion-icon slot="start" name="happy"></ion-icon>Eventos
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle auto-hide="true">
        <ion-item>
          <ion-icon slot="start" name="bus"></ion-icon>Transporte
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle auto-hide="true">
        <ion-item>
          <ion-icon slot="start" name="heart"></ion-icon>Favoritos
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>