<ion-menu side="start" menuId="menuPrincipal" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>LATACUNGA</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>Atracciones Turísticas</ion-item>
      <ion-item>Hospedaje</ion-item>
      <ion-item>Restaurantes</ion-item>
      <ion-item>Recreación</ion-item>
      <ion-item>Agencia de Viajes</ion-item>
      <ion-item>Servicios Complementarios</ion-item>
      <ion-item>Ruta</ion-item>
      <ion-item>Tour Virtual</ion-item>
      <ion-item>Eventos</ion-item>
      <ion-item>Transporte</ion-item>
      <ion-item>Favoritos</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>