<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="menuPrincipal"></ion-menu-button>
    </ion-buttons>

    <ion-title>Turismo Latacunga</ion-title>

    <ion-buttons slot="end">
      <ion-icon name="map-sharp"></ion-icon>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-menu-button menu="menuSecundario"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid id="container">
    <ion-row>
      <ion-col
        size="12"
        size-lg="size-lg"
      >
        <img
          src="assets/icon/latacunga.png"
          alt="logo latacunga"
          height="50px"
        >
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col
        size="12"
        size-lg="size-lg"
      >
        <img
          src="assets/icon/latacunga4.jpg"
          alt="logo latacunga"
        >
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col
        size="12"
        size-lg="size-lg"
      >
        <img
          src="assets/icon/municipio-latacunga.png"
          alt=""
        >
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col
        size="4"
        size-lg="size-lg"
      ></ion-col>

      <ion-col
        size="1"
        size-lg="size-lg"
      >
        <ion-button>
          <ion-icon name="logo-facebook"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col
        size="2"
        size-lg="size-lg"
      ></ion-col>

      <ion-col
        size="1"
        size-lg="size-lg"
      >
        <ion-button>
          <ion-icon name="logo-youtube"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col
        size="4"
        size-lg="size-lg"
      ></ion-col>
    </ion-row>

    <ion-row>
      <ion-col
        size="4"
        size-lg="size-lg"
      ></ion-col>

      <ion-col
        size="1"
        size-lg="size-lg"
      >
        <ion-button>
          <ion-icon name="logo-instagram"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col
        size="2"
        size-lg="size-lg"
      ></ion-col>

      <ion-col
        size="1"
        size-lg="size-lg"
      >
        <ion-button>
          <ion-icon name="logo-twitter"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col
        size="4"
        size-lg="size-lg"
      ></ion-col>
    </ion-row>

    <ion-row>
      <ion-col
        size="4"
        size-lg="size-lg"
      ></ion-col>

      <ion-col
        size="1"
        size-lg="size-lg"
      >
        <ion-button>
          <ion-icon name="globe-sharp"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col
        size="2"
        size-lg="size-lg"
      ></ion-col>

      <ion-col
        size="1"
        size-lg="size-lg"
      >
        <ion-button>
          <ion-icon name="logo-snapchat"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col
        size="4"
        size-lg="size-lg"
      ></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>