ion-content{
  --background:black;
}

#container {
  text-align: center;

  position: fixed;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

/* #logoCabecera {
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 13%;
  transform: translateY(-50%);
}

#imagenHome {
  text-align: center;

  position:fixed;
  left: 0;
  right: 0;
  top: 35%;
  transform: translateY(-50%);
}

#redes {
  text-align: center;

  position: fixed;
  left: 0;
  right: 0;
  top: 82%;
  transform: translateY(-50%);
} */